.sprite_x48_warning_48_png {background: url(sprite1.png) -0px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_block_48_png {background: url(sprite1.png) -0px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x32_key_32_png {background: url(sprite1.png) -48px -0px no-repeat; width: 32px; height: 32px;}
.sprite_x32_bookmark_32_png {background: url(sprite1.png) -48px -32px no-repeat; width: 32px; height: 32px;}
.sprite_x32_briefcase_32_png {background: url(sprite1.png) -0px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_bubble_32_png {background: url(sprite1.png) -48px -64px no-repeat; width: 32px; height: 32px;}
.sprite_x32_buy_32_png {background: url(sprite1.png) -32px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_calendar_32_png {background: url(sprite1.png) -80px -0px no-repeat; width: 32px; height: 32px;}
.sprite_x32_clipboard_32_png {background: url(sprite1.png) -0px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_clock_32_png {background: url(sprite1.png) -80px -32px no-repeat; width: 32px; height: 32px;}
.sprite_x32_delete_32_png {background: url(sprite1.png) -32px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_diagram_32_png {background: url(sprite1.png) -80px -64px no-repeat; width: 32px; height: 32px;}
.sprite_x32_document_32_png {background: url(sprite1.png) -64px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_down_32_png {background: url(sprite1.png) -64px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_flag_32_png {background: url(sprite1.png) -112px -0px no-repeat; width: 32px; height: 32px;}
.sprite_x32_folder_32_png {background: url(sprite1.png) -112px -32px no-repeat; width: 32px; height: 32px;}
.sprite_x32_gear_32_png {background: url(sprite1.png) -0px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_globe_32_png {background: url(sprite1.png) -32px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_heart_32_png {background: url(sprite1.png) -64px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_help_32_png {background: url(sprite1.png) -112px -64px no-repeat; width: 32px; height: 32px;}
.sprite_x48_bookmark_48_png {background: url(sprite1.png) -96px -96px no-repeat; width: 48px; height: 48px;}
.sprite_x48_briefcase_48_png {background: url(sprite1.png) -144px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_bubble_48_png {background: url(sprite1.png) -0px -192px no-repeat; width: 48px; height: 48px;}
.sprite_x32_home_32_png {background: url(sprite1.png) -48px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x48_buy_48_png {background: url(sprite1.png) -144px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x48_calendar_48_png {background: url(sprite1.png) -96px -144px no-repeat; width: 48px; height: 48px;}
.sprite_x32_info_32_png {background: url(sprite1.png) -80px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x32_warning_32_png {background: url(sprite1.png) -112px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x32_label_32_png {background: url(sprite1.png) -144px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_left_32_png {background: url(sprite1.png) -144px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_letter_32_png {background: url(sprite1.png) -144px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_monitor_32_png {background: url(sprite1.png) -144px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x32_pencil_32_png {background: url(sprite1.png) -192px -0px no-repeat; width: 32px; height: 32px;}
.sprite_x32_plus_32_png {background: url(sprite1.png) -192px -32px no-repeat; width: 32px; height: 32px;}
.sprite_x32_present_32_png {background: url(sprite1.png) -0px -240px no-repeat; width: 32px; height: 32px;}
.sprite_x32_print_32_png {background: url(sprite1.png) -192px -64px no-repeat; width: 32px; height: 32px;}
.sprite_x32_right_32_png {background: url(sprite1.png) -176px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_save_32_png {background: url(sprite1.png) -176px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_search_32_png {background: url(sprite1.png) -176px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_shield_32_png {background: url(sprite1.png) -176px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x32_statistics_32_png {background: url(sprite1.png) -224px -0px no-repeat; width: 32px; height: 32px;}
.sprite_x32_stop_32_png {background: url(sprite1.png) -224px -32px no-repeat; width: 32px; height: 32px;}
.sprite_x32_tick_32_png {background: url(sprite1.png) -0px -272px no-repeat; width: 32px; height: 32px;}
.sprite_x32_trash_32_png {background: url(sprite1.png) -224px -64px no-repeat; width: 32px; height: 32px;}
.sprite_x32_up_32_png {background: url(sprite1.png) -208px -96px no-repeat; width: 32px; height: 32px;}
.sprite_x32_user_32_png {background: url(sprite1.png) -208px -128px no-repeat; width: 32px; height: 32px;}
.sprite_x32_wallet_32_png {background: url(sprite1.png) -208px -160px no-repeat; width: 32px; height: 32px;}
.sprite_x32_block_32_png {background: url(sprite1.png) -208px -192px no-repeat; width: 32px; height: 32px;}
.sprite_x32_address_32_png {background: url(sprite1.png) -0px -304px no-repeat; width: 32px; height: 32px;}
.sprite_x48_clipboard_48_png {background: url(sprite1.png) -256px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_clock_48_png {background: url(sprite1.png) -256px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x48_delete_48_png {background: url(sprite1.png) -240px -96px no-repeat; width: 48px; height: 48px;}
.sprite_x48_diagram_48_png {background: url(sprite1.png) -240px -144px no-repeat; width: 48px; height: 48px;}
.sprite_x48_document_48_png {background: url(sprite1.png) -304px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_down_48_png {background: url(sprite1.png) -304px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x48_flag_48_png {background: url(sprite1.png) -288px -96px no-repeat; width: 48px; height: 48px;}
.sprite_x48_folder_48_png {background: url(sprite1.png) -288px -144px no-repeat; width: 48px; height: 48px;}
.sprite_x48_gear_48_png {background: url(sprite1.png) -352px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_globe_48_png {background: url(sprite1.png) -352px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x48_heart_48_png {background: url(sprite1.png) -48px -224px no-repeat; width: 48px; height: 48px;}
.sprite_x48_help_48_png {background: url(sprite1.png) -32px -272px no-repeat; width: 48px; height: 48px;}
.sprite_x48_home_48_png {background: url(sprite1.png) -96px -224px no-repeat; width: 48px; height: 48px;}
.sprite_x48_wallet_48_png {background: url(sprite1.png) -80px -272px no-repeat; width: 48px; height: 48px;}
.sprite_x48_key_48_png {background: url(sprite1.png) -144px -224px no-repeat; width: 48px; height: 48px;}
.sprite_x48_label_48_png {background: url(sprite1.png) -128px -272px no-repeat; width: 48px; height: 48px;}
.sprite_x48_left_48_png {background: url(sprite1.png) -192px -224px no-repeat; width: 48px; height: 48px;}
.sprite_x48_letter_48_png {background: url(sprite1.png) -176px -272px no-repeat; width: 48px; height: 48px;}
.sprite_x48_monitor_48_png {background: url(sprite1.png) -240px -192px no-repeat; width: 48px; height: 48px;}
.sprite_x48_pencil_48_png {background: url(sprite1.png) -288px -192px no-repeat; width: 48px; height: 48px;}
.sprite_x48_plus_48_png {background: url(sprite1.png) -336px -96px no-repeat; width: 48px; height: 48px;}
.sprite_x48_present_48_png {background: url(sprite1.png) -240px -240px no-repeat; width: 48px; height: 48px;}
.sprite_x48_print_48_png {background: url(sprite1.png) -288px -240px no-repeat; width: 48px; height: 48px;}
.sprite_x48_right_48_png {background: url(sprite1.png) -336px -144px no-repeat; width: 48px; height: 48px;}
.sprite_x48_save_48_png {background: url(sprite1.png) -224px -288px no-repeat; width: 48px; height: 48px;}
.sprite_x48_search_48_png {background: url(sprite1.png) -272px -288px no-repeat; width: 48px; height: 48px;}
.sprite_x48_shield_48_png {background: url(sprite1.png) -336px -192px no-repeat; width: 48px; height: 48px;}
.sprite_x48_statistics_48_png {background: url(sprite1.png) -336px -240px no-repeat; width: 48px; height: 48px;}
.sprite_x48_stop_48_png {background: url(sprite1.png) -320px -288px no-repeat; width: 48px; height: 48px;}
.sprite_x48_tick_48_png {background: url(sprite1.png) -400px -0px no-repeat; width: 48px; height: 48px;}
.sprite_x48_trash_48_png {background: url(sprite1.png) -400px -48px no-repeat; width: 48px; height: 48px;}
.sprite_x48_up_48_png {background: url(sprite1.png) -384px -96px no-repeat; width: 48px; height: 48px;}
.sprite_x48_user_48_png {background: url(sprite1.png) -384px -144px no-repeat; width: 48px; height: 48px;}
.sprite_x48_address_48_png {background: url(sprite1.png) -384px -192px no-repeat; width: 48px; height: 48px;}
.sprite_x48_info_48_png {background: url(sprite1.png) -384px -240px no-repeat; width: 48px; height: 48px;}
